{% load static %}
<!doctype html>
<html class="no-js" lang="ko-kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>글로컬드림아카데미</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.jpg" %}">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{%  static 'css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{%  static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{%  static 'css/responsive.css' %}">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="{%  static 'css/color/color-1.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    {% block header %}
    {% endblock %}
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">

        {% include "widgets/header.html" %}

        {% block precontent %}
        {% endblock %}

        <div class="wrapper">

        {% if messages %}
        <div class="container">
        <div class="mb40">&nbsp;</div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        </div>

        {% include "widgets/footer.html" %}

        <!-- start scrollUp
        ============================================ -->
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>
    <!-- Body main wrapper end -->


    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--  ajax-mail.js  -->
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    {% block script %}
    {% endblock %}
</body>

</html>
