{% extends "base.html" %}

{% block content %}

        {% include "widgets/slider.html" %}

        <!-- Start page content -->
        <section class="service-area gray-bg ptb-110">
            <!-- Demo Section    -->
            <div class="container">

                <div class="col-xs-4">
                <a class="button small mb-20" href="/page/direct/"><span>직영강좌 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small mb-20" href="/page/camp/"><span>캠프안내 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small mb-20" href="/page/outsource/"><span>교육위탁운영 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small mb-20" href="/page/training/"><span>강사연수 </span><i class="fa fa-hand-o-right"></i></a>
                </div>

                <div class="col-xs-4">
                <a class="button small button-white mb-20" href="/admin/home/school/"><span>학교관리 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small button-white mb-20" href="/admin/"><span>사무국관리 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small button-white mb-20" href="/admin/home/teacher/"><span>강사관리 </span><i class="fa fa-hand-o-right"></i></a>
                </div>
                <div class="col-xs-4">
                <a class="button small button-white mb-20" href="/admin/"><span>강좌관리 </span><i class="fa fa-hand-o-right"></i></a>
                </div>

            </div>
        </section>
        <!-- End page content -->


{% endblock %}