{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block content %}

<h2>수업 합치기</h2>
<hr />

{% if messages %}
<div class="container">
<div class="mb40">&nbsp;</div>
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}
<br />

<form method="post" action="">
<p>
다음 수업들을 하나로 합칩니다.
<ul>
{% for subject in objects %}
    <li>{{ subject }} / {{ subject.cate }}
    <input type="hidden" name="_selected_action" value="{{ subject.pk }}">
    </li>
{% endfor %}
</ul>
</p>

<br />
<p>
합쳐지는 수업은 다음과 같습니다.
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-danger">합치기</button>
</form>
</p>
{% endblock %}